
.imgContainer{
    width: 100%;
    height: 300px;
    position: relative;
}

.img{
    object-fit: cover;
    filter: grayscale(100%);
}

.imgText{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(46, 162, 162, 0.743);
    padding-left: 5px;
    color: white;
}

.textContainer{
    display: flex;
    gap: 100px;
}

.item{
    flex: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.desc{
    font-size: 16px;
    font-weight: 300;
}