.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 70px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img {
  border: none;
  border-radius: 5px;
  /* filter: invert(1); */
  object-fit: cover;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}

.input, .textArea{
    padding: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: azure;
    border: 2px solid rgba(255, 255, 255, 0.786);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}