* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  overflow-x: hidden;
  color: #bbb;
}

a{
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease ;
}
.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.light{
  background-color: white;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}