.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 14px;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    cursor: pointer;
    opacity: 0.6;
}