.catTitle {
  color: rgba(26, 165, 119, 0.792);
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.imgContainer {
  flex: 1;
  height: 400px;
  /* width: 100px; */
  position: relative;
}

.img {
  width: 300px !important;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.item:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.title{
    font-size: 50px;
}

.desc{
    font-size: 20px;
}